.hotelContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.hotelWrapper {
  width: 100%;
  max-width: 1024px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
}

.bookNow {
  position: absolute;
  top: 10px;
  right: 0;
  border: none;
  padding: 10px 20px;
  background-color: rgb(7, 137, 202);
  color: white;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}

.hotelTitle {
  font-size: 24px;
}

.hotelAddress {
  font-size: 12px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.hotelDistance {
  color: rgb(7, 137, 202);
  font-weight: 500;
}

.hotelPrice {
  color: green;
  font-weight: 500;
}

.hotelImages {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.hotelImgWrapper {
  width: 33%;
}

.hotelImg {
  width: 100%;
  object-fit: cover;
}

.hotelDetails {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: 20px;
}

.hotelDescriptions {
  flex: 3;
}

.hotelPriceDetail {
  flex: 1;
  background-color: rgb(188, 219, 254);
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.hotelDesc {
  font-size: 14px;
  margin-top: 20px;
}

.hotelPriceDetail > h1 {
  font-size: 18px;
  color: #555;
}

.hotelPriceDetail > span {
  font-size: 14px;
}

.hotelPriceDetail > h2 {
  font-weight: 300;
}

.hotelPriceDetail > button {
  border: none;
  padding: 10px 20px;
  background-color: rgb(7, 137, 202);
  color: white;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}
