.subscribe {
  width: 100%;
  margin-top: 50px;
  background-color: rgb(0, 0, 114);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 50px;
}

.subsContainer > input {
  width: 300px;
  height: 30px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
}

.subsContainer > button {
  height: 50px;
  background-color: rgb(7, 137, 202);
  color: white;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
