.featureItem {
  position: relative;
  color: white;
}

.featureImg {
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.featureTitles {
  position: absolute;
  bottom: 20px;
  left: 20px;
}
