.navbar {
  height: 120px;
  background-color: rgb(0, 0, 114);
  display: flex;
  justify-content: center;
}

.navContainer {
  width: 100%;
  padding: 10px;
  max-width: 1024px;
  display: flex;
  flex-direction: column;
}

.navLogo {
  display: flex;
  color: white;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-weight: 500;
}

.logo > a:link,
a:visited {
  text-decoration: none;
  color: white;
}

.navButton {
  margin-left: 20px;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  color: rgb(0, 0, 114);
}

.navItem {
  margin-top: 30px;
}

.navItem a {
  margin-right: 20px;
  padding: 10px 15px;
  color: white;
  text-decoration: none;
}

.navItem i {
  margin-right: 10px;
}
