.hotelListItem {
  flex: 1;
  gap: 10px;
  display: flex;
  flex-direction: column;
}

.hliImg {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
}

.hliName {
  font-weight: bold;
}

.hliCity {
  font-weight: 300;
}

.hliPrice {
  font-weight: 500;
}

.hliRating > button {
  background-color: rgb(0, 0, 114);
  color: white;
  border: none;
  padding: 5px;
  margin-right: 10px;
  border-radius: 5px;
  font-weight: bold;
}

.hliRating > span {
  font-size: 14px;
}
